@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    font-size: 12px;
    font-family: "Raleway";
    --heading-color: hsl(0, 0%, 7%);
    --date-text-color: hsl(0, 0%, 51%);
    --previous-price-text-color: hsl(0, 98%, 44%);
    --company-name-text-color: hsla(0, 0%, 0%, 0.822);
    --liked-heart-icon-color: hsl(0, 98%, 44%);
    --heart-icon-color: whitesmoke;
    --pricing-font-weight: 800;
    --title-font-weight: 800;
    --date-font-weight: 550;

    /* Cards colors */
    --card-main-color : rgb(204, 204, 204);
    --card-1-secondary-color: rgb(192, 82, 82);
    --card-2-secondary-color: rgb(67,53,27);
    --card-3-secondary-color: rgb(178,180,179);
    --card-4-secondary-color: rgb(96,109,117);
}

html{
    width: 100%;
    height: 100%;
}

body{
    /* background-color: lightcyan; */  
  }
  
.container input{
    display: none;
}

.position-text {
  background-color: #6f4141;
  color: #ffffff;

  
  font-size: 1.2em;
}


.container{
    max-width: 100em;
    /* background-color: lightgreen; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    margin: auto;
    min-height: 4em;
    padding: 3em 1em 1em 1em;
    box-sizing: border-box;
}

/* Card Styling */
.card-div{
    width: 15em;
    min-height: 16em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: var(--card-main-color);
    margin: 0.6em;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: transform 0.2s ease-in-out;
  }

  .card-div:hover {
    background-color:var(--card-1-secondary-color);
  }

/* ======== General styling of all cards and heart divs ========== */
.img-div{
    width: 100%;
    height: 8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    z-index: 1;
    border-radius: 0 0 10px 10px;
}


.img-div img{

    transform-origin: bottom;
}

/* === Styling the like Icon ==== */
.like-icon-div{
    padding: 1em 1em 1em 1em;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    font-size: 0.1em;
    border-radius:10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
    
    
}


.gow-img-div{
    background-color: var(--card-1-secondary-color);
}


.button.style4 {
    /* Position the button at the bottom */
    position: absolute;
    bottom: 0;
    width: 100%; /* Span the entire width */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    color: #ffffff; /* Default color (adjust as needed) */
    display: none; /* Button */
}


.gow-img-div img{
    width: 95%;
    /* background-color: whitesmoke; */
}

.card-1 .like-icon-div{
    color: var(--card-1-secondary-color);
    background-color: var(--card-1-secondary-color);
    height: 18em;
}



.card-div .like-icon-div {
    
    transform: translateY(0) scale(1);
    transition: transform 0.3s ease; /* Add a transition for the transform property */
}

.card-div:hover .like-icon-div {
    transform: translatey(-70px) scale(1.5);
    width: 70%;
    align-items: center;
    align-content: center;
    

    border-radius: 10px;
    z-index: 999; /* Render on top of everything */

    transition: 
    transform 0.3s ease,
    align-items 0.3s,
    width 0.3s,
    border-radius 0.3s ease; /* Add animation */
}

.card-1:hover .button.style4 {
    display: block;
}

/* ======== text Container Styling general ======== */

.text-container{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    padding: 0 0.5em;
    padding-top: 1em;
    padding-bottom: 0em;
    box-sizing: border-box;
}

.text-container .item-title,
.text-container .date{
    margin: 0em 0;
    text-align: center;
}

.text-container .item-title{
    font-size: 1.2em;
    font-weight: var(--title-font-weight);
    color: var(--company-name-text-color);
}

.text-container .date{
    font-size: 1em;
    font-weight: var(--date-font-weight);
    color: var(--date-text-color);
}

/* === Pricing and cart div  ===== */

.company-name{
    color: var(--company-name-text-color);
    font-size: 1em;
    font-weight: var(--pricing-font-weight);
    margin: 0;
}


/* ====== Hover effects ======= */


.card-div:hover .item-title{
    font-size: 1.4em;
    transform-origin: top;
    background-color: white;
    align-self: center;
    border-radius: 10px;
    background-color:#FFFFFF;
    border:5px solid;
    border-width: thick;
    width: 260px;
    height: 100px;
    transform: translate(0, 50px);
    z-index: 999; /* Render on top of everything */
}

.card-div:hover .position-text{
    display: none;
}
.card-div:hover .company-name{
    display: none;
}
.card-div:hover .date{
    display: none;
}

.card-div:hover .img-div img{
    transform: translateY(17.5%) scale(1.3);
    
    transition: transform 0.3s ease-in-out
}

.card-div:hover{
    transform: translate(0, -10px);
}


.button.style4:hover {
    color: #c2b2ab; /* Hover color (adjust as needed) */
    background-color: #212121;
}